{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'jobs/js/jobs.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Jobs</h1>

  <p>
    <button type="button" class="btn btn-primary js-create-job" data-url="{% url 'job_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New Job
    </button>
  </p>

  <table class="table" id="job-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Desc</th>
        <th>Vacancy_count</th>
        <th>Job_status</th>
        <th>Publication_date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include 'jobs/includes/partial_job_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-job">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}